body {
    margin: 0;
    font-family: 'Cormorant', serif;
    font-weight: 400;
}

* {
    box-sizing: border-box;
}


/* fonts */

h1,
h3 {
    font-weight: 700;
}

button {
    font-weight: 500;
}

.main__logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}


/* common */

p,
h1,
h2,
h3,
h4,
ul {
    margin: 0;
}

h2 {
    font-size: 36px;
}

img.hr {
   width: 50px; 
}

button {
    width: 175px;
    height: 52px;
    border: 1px solid #000;
    background-color: #fff;
    z-index: 999;
    box-shadow: 0px 11px 26px -5px rgba(89,89,89,0.23);
    transition: all 0.5s ease-out;
}

button:hover {
    transform: scale(1.1);
}

.container {
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
}

.container,
.main,
.main__menu,
.main__menuList,
.main__left,
.main__right,
.about {
    display: flex;
}


/* header */

.main {
    height: 700px;
    position: relative;
}

.main__menu {
    height: 70px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    z-index: 9999999;
    align-items: flex-end;
}

.main__logo {
    margin-bottom: 10px;
    font-size: 22px;
}

.main__menuList {
    width: 40%;
    justify-content: space-between;
    list-style: none;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    padding: 0;
    align-items: flex-end;
    transition: all 1s ease;
}

.main__menuItem a {
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: all 0.5s ease-in;
    padding-bottom: 5px;
}

.main__menuItem:hover a {
    border-bottom: 2px solid #000;
}

.main__bars {
    width: 40px;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
    cursor: pointer;
    display: none;
}

.main__line1,
.main__line2,
.main__line3 {
    width: 100%;
    height: 2px;
    background-color: #000;
}

.main__left {
    width: 55%;
    height: 100%;
    align-items: center;
    position: relative;
    padding-left: 120px;
}

.main__title {
    font-size: 42px;
    color: #212121;
}

.main__title2 {
    font-size: 20px;
    margin: 0 0 15px;
    color: #212121;
}

.main__button1 {
    width: 145px;
    background-color: #000;
    color: #fff;
    margin-right: 20px;
}

.main__squareGray {
    height: 500px;
    width: 72%;
    position: absolute;
    border: 14px solid #E8E8E8;
    left: -80px;
    margin-top: 5%;
    z-index: -1;
}

.main__right {
    background-color: #E1E1E1;
    width: 45%;
    height: 100%;
    position: relative;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.main__man {
    height: 91%;
    z-index: 999;
}

.main__squareWhite {
    position: absolute;
    height: 40%;
    width: 44%;
    border: 10px solid #fff;
    right: -81px;
    align-self: center;
    margin-top: 5%;
}

/* about */
.about {
    padding: 90px 0 93px;
    flex-direction: column;
    align-items: center;
}

.about__text {
    font-size: 16px;
    width: 550px;
    text-align: center;
    margin: 40px auto 30px;
}

.about__button {
    background-color: #000;
    color: #fff;
}